---
title: 'false'
styles: true
---

/*
$linkColour: #bf8a05;
   
a, input{
        color:$linkColour;
    }

    input .button{
        background: $linkColour !important;
    }
  */  

.typeset p a{
    
    background-image: none;
    &:hover{
        background-image: none;
    }
}

.container{
    width:95%;
    max-width: 100%;

}

.header{
    font-family: 'Delmon Delicate', sans-serif;
    src: url('/assets/Delmon Delicate.tff');
    font-size: 1.4rem;
    letter-spacing: 0.01rem;
}

.footer{
    background:none;
}
@import "alembic";
